@model CrudNet7MVC.Models.Contacto

@{
    ViewData["Title"] = "BORRAR USUARIO";
}

<h1 class="text-center">Contacto con .Net 7</h1>

<div class="row">
    <div class="offset-12">

        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong>Borrar usuario</strong> </h3>
            </div>
            <div class="card-body">
                <form asp-action="Borrar" method="POST">

                    <!--enviar campo oculto-->
                    <input type="hidden" asp-for="id" />


                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="nombre"></label>
                        <input asp-for="nombre" class="form-control" readonly />
                        <span asp-validation-for="nombre" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="telefono"></label>
                        <input asp-for="telefono" class="form-control" readonly />
                        <span asp-validation-for="telefono" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="celular"></label>
                        <input asp-for="celular" class="form-control" readonly />
                        <span asp-validation-for="celular" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="email"></label>
                        <input asp-for="email" class="form-control" readonly />
                        <span asp-validation-for="email" class="text-danger"></span>
                    </div>

                    <div claas="form-group mt-3">
                        <button type="submit" class="btn btn-primary d-block mx-auto"><i class="bi bi-eraser-fill"></i> Borrar usuario </button>
                    </div>


                </form>

                <a asp-controller="Home" asp-action="Index">Volver</a>


            </div>

        </div>

    </div>
</div>

